.tamanho {
    width: 50px;
    height: fit-content;

    border: 1px solid black;
    font-weight: bold;
    font-size: medium;

    text-align: center;
    cursor: pointer;
}

.tamanho:hover {
    color: white;
    background-color: gray;
}

.stamps-area {
    display: flex;
    flex-direction: row;
}

.tamanhosList {
    display: flex;
    justify-content: row;
}

.stamp {
    border: 1px solid black;
}

.stamp-imagem img{
    width: 150px;
    height: 185px;
}

.tshirts-area {
    display: grid;
    grid-template-rows: repeat(5, 170px);
    grid-template-columns: repeat(7, 200px);

    column-gap: 30px;
    row-gap: 50px;
}

.tshirt {
    width: fit-content;
    height: fit-content;
}

.tshirt-imagem {
    width: 150px;
    height: 185px;
}

.tshirt-imagem img{
    position: relative;

    width: 150px;
    height: 185px;

    top: -63.5%;
    cursor: pointer;
}

.tshirt-imagem .stamp-shirt {
    position: relative;
    width: 80px;
    height: 115px;
    left: 23%;
    top: 14%;
    z-index: 99;
}

.cor_radio {
    position: relative;
    z-index: 101;
    top: -62%;
    left: 18%;
}

.tshirt-info-desc {
    position: relative;
    z-index: 101;
    top: -62%;
    left: 18%;
}